<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <!-- Custom message encoder for modifying the response -->
        <extensions>
            <bindingElementExtensions>
                <add name="cprMessageEncoding" type="CprSoap.CprMessageEncoder.CprMessageEncodingElement, CprSoap"/>
            </bindingElementExtensions>
        </extensions>
        
        <client>
            <endpoint address="https://soap.cpr.dk/axis2/services/PersonBasicInformationService_2"
                behaviorConfiguration="PersonBasicInformationService_CprBehavior"
                binding="customBinding" bindingConfiguration="PersonBasicInformationService_CprHttpBinding"
                contract="CprService.PersonBasicInformationService_1_portType"
                name="PersonBasicInformationService">
                <identity>
                    <!-- Should be equal to the 'Issued to' in the SSL certificate -->
                    <dns value="soap.cpr.dk" />
                </identity>
            </endpoint>
        </client>

        <bindings>
            <customBinding>
                <binding name="PersonBasicInformationService_CprHttpBinding">
                    <cprMessageEncoding messageVersion="Soap11" encoding="utf-8" />
                    <security allowSerializedSigningTokenOnReply="true" enableUnsecuredResponse="true"
                        authenticationMode="MutualCertificate" requireDerivedKeys="false"
                        securityHeaderLayout="LaxTimestampLast" includeTimestamp="true"
                        keyEntropyMode="ClientEntropy" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSecurityContextCancellation="false" requireSignatureConfirmation="false">
                        <secureConversationBootstrap />
                    </security>
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>

        <behaviors>
            <endpointBehaviors>
                <behavior name="PersonBasicInformationService_CprBehavior">
                    <clientCredentials>
                        <!-- Company certificate (virksomhedscertifikat) -->
                        <clientCertificate findValue="aa bb cc..." storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
                        
                        <!-- SSL certificate -->
                        <serviceCertificate>
                            <defaultCertificate findValue="aa bb cc..." storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
                            <authentication certificateValidationMode="PeerOrChainTrust" />
                        </serviceCertificate>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        
    </system.serviceModel>
</configuration>